body {
  --black: #333333;
  --white: #ffffff;
  --tomato-form: #b7280f;
  --tomato-back: #9f210c;
  --tomato-primary: #dc3e22;
  --tomato-light: #EA8A79;
  --primary-green: #A8B64F;
  --dark-green: #899441;
  
  --grey99: #999999;
  --greyF4: #f4f4f4;
  --greyE4: #e4e4e4;
  --greyC4: #c4c4c4;
  
  
  //--black: #002443;
  //--white: #F3E3CB;
  //--tomato-primary: #D86757;
  //--primary-green: #1b8281;
  
  --box-shadow: 0 10px 63px rgba(0, 0, 0, 0.07);
}

body.dark {
}