@use 'src/app/styles/utils';

.user {
  @include utils.flex(null, center);
  @include utils.font(18px, 100, null, var(--white));
  padding-inline: 20px;
  background-color: var(--tomato-primary);
  border-radius: 15px;
  margin-right: 15px;
  margin-left: auto;
  align-self: center;
}