@use 'src/app/styles/utils';

.user-form {
  @include utils.flex(null, null, column);
  padding: 25px 90px;
  background-color: var(--tomato-form);
  gap: 25px;
  
  h2 {
    color: white;
    text-align: center;
  }
  button {
    align-self: center;
    padding: 15px 50px;
  }
  input {
    width: 100%;
  }
}

.task-form {
  @include utils.flex(null, null, column);
  
  input {
    width: 100%;
    background-color: var(--greyF4);
  }

  button {
    align-self: flex-start;
  }
}

.settings-form {
  @include utils.flex(null, null, column);
  margin-inline: auto;
  gap: 20px;
  
  button {
    align-self: center;
  }
}