@use '../../../../app/styles/mixins/flex';
@use '../../../../app/styles/mixins/font' as *;

.wrapper {
  @include flex.center;
  padding-block: 32px;
  background-color: var(--greyF4);
  width: 296px;
}

.footer {
  background-color: var(--tomato-primary);
}

.wrapper.has {
  @include flex.flex(center, center, column);
  background-color: var(--greyF4);
  padding-bottom: 0;
  
  .amount {
    @include flex.center;
    @include font(24px, 700, 33px, var(--grey99));
  }
  
  .footer {
    margin-top: 30px;
    padding-block: 10px;
    width: 100%;
    @include font(24px, 700, 33px, var(--white));
    text-align: center;
    color: var(--white);
  }
  
  svg {
    width: 70px;
    margin-right: 20px;
  }
}
