@use '../../../app/styles/mixins/flex';
@use '../../../app/styles/mixins/size' as *;
@use '../../../app/styles/mixins/font' as *;
@use '../../../app/styles/mixins/pos' as *;
@use '../../../app/styles/functions/transition' as *;

@mixin commonButtonStyles {
  position: relative;
  padding: 16px 44px;
  transition: transition(background-color, color, border-color);
  border: 2px solid transparent;
  font-weight: 600;
  
  &:disabled {
    border-color: var(--greyC4);
    color: var(--greyC4);
    background-color: transparent;
    &:hover {
      background-color: transparent;
      color: var(--greyC4);
      cursor: initial;
    }
  }
}

.spinner {
  @include size(15px, 15px);
  @include pos(null, null, 50%, 15%);
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 1px solid white;
  border-top-color: transparent;
  animation: 400ms infinite spinner linear;
  flex-shrink: 0;
  @keyframes spinner {
    0% {
      transform: translateY(50%) rotate(0);
    }
    100% {
      transform: translateY(50%) rotate(360deg);
    }
  }
}

.button {
  @include commonButtonStyles;
  color: var(--white);
  background-color: var(--primary-green);
  &:hover {
    background-color: var(--dark-green);
  }
}

.red-button {
  @include commonButtonStyles;
  $color: var(--tomato-primary);
  color: $color;
  border-color: $color;
  
  &:hover {
    background-color: var(--tomato-primary);
    color: var(--white);
  }
}

.increase-timer-button {
  border-radius: 50%;
  background-color: var(--greyC4);
  height: 50px;
  width: 50px;
  transition: transition(background-color);
  &:hover {
    background-color: var(--dark-green);
  }
  &::before {
    content: '+';
    display: inline;
    vertical-align: sub;
    font-size: 34px;
    line-height: 0;
    font-weight: 300;
    color: var(--white);
    transition: transition(color);
  }
}

.dropdown-button {
  @include flex.align(center);
  @include font(null, 300, 17px, var(--grey99));
  @include size(35px, 35px);
  border-radius: 50%;

  padding: 5px;
  transition: transition(background-color, color);
  svg circle {
    transition: transition(fill);
  }
  &:is(:active, :focus) {
    background-color: var(--primary-green);
    svg circle {
      fill: white;
    }
  }
  &:hover {
    background-color: var(--greyE4);
    svg circle {
      fill: var(--grey99);
    }
  }
}

.dropdown-menu-buttons {
  @include flex.align(center);
  line-height: 28px;
  text-align: start;
  font-weight: 300;
  color: var(--grey99);  font-family: "FC UI Display", sans-serif;
  padding-inline: 15px;

  &:hover {
    background-color: var(--greyF4); 
  }
  
  svg {
    margin-right: 10px;
  }
  
  &:disabled {
    &:hover {
      background-color: transparent;
    }
    color: var(--greyE4);
    svg path {
      fill: var(--greyE4);
    }
  }
}

.exit-button {
  color: var(--tomato-primary);
  padding: 0;
}

.done-edit {
  @include flex.center;
  background-color: var(--primary-green);
  width: 35px;
  height: 35px;
  font-size: 28px;
  color: var(--white) !important;
  border-radius: 50%;
}

.settings-button {
  @include flex.center;
  padding: 0;
  transition: transition(transform);
  &:hover {
    transform: scale(1.4) rotate(90deg);
  }
}