@use 'src/app/styles/utils';

.wrapper {
  display: flex;
  @include utils.flex(space-evenly);
  flex-wrap: wrap;
  padding: 30px;
  background-color: white;
}

.title {
  flex: 1 1 100%;
  text-align: center;
}