@use 'src/app/styles/mixins/flex';
@use 'src/app/styles/mixins/font' as *;
@use 'src/app/styles/functions/transition' as *;

.timer {
  .head {
    @include flex.flex(space-between, center);
    background-color: var(--greyC4);
    padding: 20px 40px;
    color: var(--white);
    transition: transition(background-color);
    &__task {
      flex-basis: 25%;
      font-weight: 700;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    
    &__count {
      margin-left: auto;
      padding-inline: 30px;
    }
  }
  
  .body {
    padding: 100px 30px;
    background-color: var(--greyF4);

    .title {
      @include font(16px, 400, 17px);
      text-align: center;
      margin-bottom: 32px;
      span {
        color: var(--grey99);
      }
    }
  }
}

.timer.process .head {
  background-color: var(--tomato-primary);
}

.timer.break .head {
  background-color: var(--primary-green);
}


