@use 'src/app/styles/utils';

.wrapper {
  //position: relative;
  $background: var(--white);
  $border: 1px solid var(--greyC4); 
  position: absolute;
  @include utils.flex(null, null, column);
  background-color: $background;
  padding: 15px 0;
  border: $border;
  z-index: 10;
  
  &::before {
    content: '';
    position: absolute;
    top: -18px;
    left: 50%;
    
    width: 15px;
    height: 15px;
    border: $border;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(-45deg) translateX(-100%);
    background-color: $background;
  }
}
