@use 'src/app/styles/utils';

.label {
  @include utils.flex(center, center);
  color: white;
  user-select: none;
  order: 1;
  
  .input {
    width: initial !important;
    margin-right: 5px;
  }
}
