@use '../../../../app/styles/mixins/font' as *;
@use '../../../../app/styles/mixins/flex';

.logo {
  position: relative;
  @include flex.center;
  
  
  svg {
    width: 40px;
    margin-right: 12px;
  }
  
  h1 {
    @include font(24px, 300, 24px, var(--tomato-primary));
  }
  
  a {
    position: absolute;
    inset: 0;
  }
}