@use '../../../../app/styles/mixins/font' as *;
@use '../../../../app/styles/mixins/flex';
@use '../../../../app/styles/functions/transition' as *;

.timerDigits {
  @include font(150px, 200, 179px);
  transition: transition(color);
  width: 445px;
}

.timerDisplay {
  @include flex.center;
  $offset: 30px;
  column-gap: $offset;
  transform: translateX($offset);
}